[flake8]
max-line-length = 100

# E701: multiple statements on one line (colon)
# W391: blank line at end of file
# E203: whitespace before ':'
# E731: do not assign a lambda expression, use a def
# W503: line break before binary operator
ignore = E701, W391, E203, E731, W503
