[advice]
	detachedHead = false

[alias]
    lg = "log \
            --graph \
            --abbrev-commit \
            --date=iso \
            --format=format:'%C(bold blue)%h%C(reset) - %C(green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)'"

[color]
	ui = true

[core]
    pager = delta
    editor = vim
    excludesFile = ~/.gitignore
    whitespace = trailing-whitespace

[delta]
    navigate = true
    light = false
    line-numbers = true
    theme = "Visual Studio Dark+"
    # side-by-side = true
    # hyperlinks = true

[init]
	defaultBranch = master

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3  # added from delta docs

[diff]
    colorMoved = default   # added from delta docs
