[advice]
	detachedHead = false

[alias]
    lg = "log \
            --graph \
            --abbrev-commit \
            --date=iso \
            --format=format:'%C(bold blue)%h%C(reset) - %C(green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)'"

[color]
	ui = true

[core]
    editor = vim
    excludesFile = ~/.gitignore
    whitespace = trailing-whitespace

[init]
	defaultBranch = master